@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

.portadaImg {
  width: 100%;
  height: auto;
}

article {
  justify-content: center;
}

#divImg {
  background-color: white;
}

.container-iframe {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 56.25%;
}
.container-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75%;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
}

.main-bienvenida .bienvenida {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 2rem;
}
.main-bienvenida p {
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1.3rem;
}

article h2 {
  text-align: center;
  margin-top: 4rem;
}
article div {
  margin-bottom: 1rem;
}

.imagenDiv {
  width: 49%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: slategrey;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}
footer nav {
  margin: 0.5rem;
  color: white;
}
footer nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer div {
  margin: 0.5rem;
}

/* Sección productos */
.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.imagen {
  transition-duration: 2s;
}
.imagen:hover {
  transform: scale(1.2);
}

.productos {
  padding-bottom: 1rem;
}

.capsula {
  overflow: hidden;
}

.boton {
  color: aqua;
}

/* Sección contacto */
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.form-group {
  margin: 0.5rem;
}

/* Sección nosotros */
.textoSegundo {
  background-color: #d6dddd;
  padding: 0;
  height: 100vh;
  text-align: center;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text-nosotros {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem;
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 2rem;
  text-shadow: 5px 5px 5px gray;
}

.locales {
  -webkit-text-decoration-line: overline underline;
          text-decoration-line: overline underline;
  -webkit-text-decoration-color: purple;
          text-decoration-color: purple;
}

/* Grid area, columns, rows */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "nav" "main" "article" "div" "footer";
}

header {
  grid-area: nav;
}

main {
  grid-area: main;
}

article {
  grid-area: article;
}

.imagenDiv {
  grid-area: div;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 425px) {
  .textoSegundo {
    text-align: center;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .textoSegundo {
    text-align: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .headerNav .headerUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 3em;
    max-width: 80%;
    margin: auto;
  }

  .textoSegundo {
    text-align: center;
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5rem;
  }
}/*# sourceMappingURL=estilos.css.map */