* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color:white;
}

header {
    background-image: url(../imagenes/ropamujer.jpg); 
}

main {
    height: 20%vh;
    width: auto;
    background-color:mintcream;
}

article {
    background-color:mintcream;
    justify-content: center
}

footer {
    background-color:slategrey;
}

.textoSegundo{
    padding: 0;
    margin: 2.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-family:Arial, Helvetica, sans-serif;
    
}


/* .headerNav .headerUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 3rem;
    max-width: 80%;
    margin: auto;
}
 */


.menuNav {
    font-size: 2rem;
}

.container-iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


/* Grid area, columns, rows */

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16vh  repeat(4, auto);
    grid-template-areas:    
    "nav"
    "main"
    "article"
    "div"
    "footer";
}

header {
    grid-area: nav;
}

main {
    grid-area: main;
}

article {
    grid-area: article;
}

#divImg {
    grid-area: div;
}

.footer {
    grid-area: footer;
}





.menuNav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    text-shadow: 2px 2px 8px #5c5c5c
}

.bienvenida {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 2rem;
}

.texto {
    text-align: center;
    font-size: 1.5rem;
    font-family:Arial, Helvetica, sans-serif;
    margin: 1.3rem;
}

article h2 {
    text-align: center;
    margin: 1rem;
}

article iframe {
    margin-bottom: 1rem;
}

#divImg {
    background-image: url(../imagenes/opcion-dos.webp);
    background-repeat: repeat;
    padding: 5.2rem;
    } 



.navLogos {
    margin: 0.5rem;
    list-style: none;
}

footer div {
    margin: 0.5rem;
    color: white;
}


@media screen and (min-width:768px){
    iframe {
        width: 460px;
        height: 315px;
    }

    .textoSegundo{
        text-align: center;
        font-size: 2rem;
        font-family:Arial, Helvetica, sans-serif;
        margin: 2.5rem;
        padding: 1rem;
    }

}

@media  screen and (min-width:1024px) {
   /*  iframe{
        width: 560px;
        height: 315px;
    }  */

    .headerNav .headerUl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        height: 3em;
        max-width: 80%;
        margin: auto;
    }

    .textoSegundo{
        text-align: center;
        font-size: 2.4rem;
        font-family:Arial, Helvetica, sans-serif;
        margin: 2.5rem;
    }

}

/* Sección productos */

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imagen:hover{
    /* transform: translate(5px, 10px); */
    transform:scale(1.2);
    /* transition: height 2s; */
}


.productos{
    padding-bottom: 1rem;
}  



/* Sección contacto */

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.form-group{
    margin: 0.5rem;
}

/* Sección nosotros */

.text-nosotros{
    background-image: linear-gradient(to right, red , yellow);
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem;
}
